h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: red;
}

#header_div {
    display: flex;
    width: 95%;
    height: 2vh;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

#header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.25em;
    font-family: sans-serif;
}

#logo {
    display: flex;
    align-items: flex-start;
    width: 10vw;
    height: 5vh;
}